/* You can add global styles to this file, and also import other style files */
.bg-blue {
    background-color: blue;
}

.bg-light-blue {
  background-color: lightblue;
}

.bg-pink {
  background-color: pink;
}

.bg-gray {
  background-color: gray;
}
